.center-text {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.text-black {
  color: black;
}

.faded {
  opacity: 0.5;
}

.faded:hover {
  opacity: 1;
}

.full-width {
  width: 100%;
}

.p-s {
  padding: 10px;
}

.m-t-s {
  margin-top: 10px;
}

.m-b-s {
  margin-bottom: 10px;
}

.m-b-xs {
  margin-bottom: 5px;
}

.m-b-z {
  margin-bottom: 0;
}

.m-r-s {
  margin-right: 10px;
}

.m-b-m {
  margin-bottom: 20px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-align-items-center {
  align-items: center;
}

.circle {
  border-radius: 50%;
}
