.center-text {
  text-align: center;
}

.full-width {
  width: 100%;
}

.p-s {
  padding: 10px;
}

.m-t-s {
  margin-top: 10px;
}

.m-b-s {
  margin-bottom: 10px;
}

.m-b-m {
  margin-bottom: 20px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-align-items-center {
  align-items: center;
}

.circle {
  border-radius: 50%;
}
